

html, body {
    height: 100%;
}

body{
	/*margin: 0px;*/
	overflow: none;
	font-family: helvetica, "AppleSDGothicNeo", sans-serif;

}
/*드래그 컬러 변경*/
::-moz-selection { /* Code for Firefox */
  color: #ffffff;
  background: #00b3ff;
}

::selection {
  color: #ffffff;
  background: #00b3ff;
}



#wrap {
	margin: 0;
}

.jumbotron{
	background-color: #ffffff;
	padding-top: 20%;
	padding-bottom: 20%;
}
.container{
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container img{
	max-width: 30%;
}

.container h3{
	text-align: center;
	font-size: 22px;
	margin-top: 14px;
	font-weight: 800;
}

#info .date h1, .name h1{
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -2px;
	display: block;
	padding-right: 10%;
}
#program .openstudio .floor, .rooftop .floor{
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 200px;
	margin-bottom: 0px;
	color: #ffffff;
	-webkit-text-stroke: 1px #000000;
	display: block;
}
#program .openstudio .place, .rooftop .place{
	font-size: 90px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-bottom: 100px;
	display: block;
}
#program .openstudio .floor{
	margin-left: 5%;

}
#program .openstudio .place{
	margin-left: 10%;
}
#program .rooftop .floor{
	text-align: right;
	padding-right: 10%;
}

#program .rooftop .place{
	text-align: right;
	padding-right: 5%;
}

#info .date h1{
	-webkit-text-stroke: 1px #000000;
	color: #ffffff;
	font-size :90px;
	font-weight: bold;
	padding-left: 5%;
	margin-top: 200px;
	width: 100%;
}
#info .name{
	font-size: 90px;
	margin-left: 0;
	letter-spacing: 0;
/*	max-width: 600px;*/
	margin-left: 5%;
	margin-top: 50px;
}


#info .details p, h3, a{
	color : black;
	margin-left: 5%;
	margin-bottom: 0;
}

#info .details h3{
	font-weight: 600;
	margin-bottom: 8px;
}

.insta {
	margin-top: 20;
}


#footer .sanginhoi {
	margin-top: 0px;
	padding: 0;
	float: right;
	margin-right: 47px;
	margin-bottom: 47px;
}

#info .insta a:hover{
	background-color: #000000;
	color: #ffffff;
	padding: 0px;
	text-decoration: none;
}




/*미디어쿼리시작*/
@media screen and (max-width: 780px) {
	body {
		background-color: #ffffff;
		font-size: 12px;
	}

	.container h3{
	text-align: center;
	font-size: 16px;
	}

	#info .name h1{
	font-size: 80px;
	word-break: break-all;
    word-wrap: normal;
    padding : 0px;
	}

	#info .date h1{
		font-size: 80px;
		padding-left: 5%;
		word-break: break-all;
		word-wrap: normal;
	}



	#program .openstudio .floor, .rooftop .floor{
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 140px;
	margin-bottom: 0px;
	color: #ffffff;
	-webkit-text-stroke: 1px #000000;
	display: block;
	}

	#program .openstudio .place, .rooftop .place{
	font-size: 80px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-bottom: 50px;
	display: block;
	}

	#program .openstudio .place, .rooftop .place{
	margin-top: -14%;
	}
}

@media screen and (max-width: 380px) {
	body {
		background-color: #ffffff;
	}
	.container h3{
		font-size: 10px;
	}
	.container img{
	max-width: 50%;
	}

	#mainvisual {
	text-align: center;
	font-size: 18px;
	}
	#info .date h1, .name h1{
	font-size: 60px;
	}
	#program .openstudio .floor, .rooftop .floor{
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-top: 140px;
	margin-bottom: 0px;
	color: #ffffff;
	-webkit-text-stroke: 1px #000000;
	display: block;
	}
	#program .openstudio .place, .rooftop .place{
	font-size: 60px;
	font-weight: bold;
	letter-spacing: -2px;
	margin-bottom: 50px;
	display: block;
	}
	#program .openstudio .place, .rooftop .place{
	margin-top: -14%;
	}

	#info .details {
		font-size: 12px;
	}
	#footer .sanginhoi {
	margin-top: 50px;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	}
	.name img{
		float: right;
		padding:20px;
	}
}
